<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{% for mergeRequest in mergeRequests %}
    <div class="info">
 Author: {{ mergeRequest.author.name }} <br/>
 Title:{{ mergeRequest.title }} <br/>
        👍 {{ mergeRequest.upvotes }}
        👎{{ mergeRequest.downvotes }} <br/>
    <br/>
    labels:
    {% for label in mergeRequest.labels %}
        {{ label }}
        {% endfor %}
    <br/>
{% endfor %}
    </div>
</body>
</html>

<style>
    .info{
        border: #5eb5e0 solid;
        background-color: #222222;
        color: #DDDDDD;
    }
</style>